.company_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.company_container h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.company_container h2 {
    width: 100%;
    padding: .5em;
}

.company_container h1 span {
    color: #ffbb33;
    padding: 0 0.2em;
    background-color: #222;
}

.company_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
    font-size: 1.2em;
    text-align: justify;
}

.company_container img {
    width: 200px;
    margin: 2em 0;
    margin-right: 1em;
}